<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>通讯录列表</title>
    
    <script>
        function del(obj) {
            $(obj).parents("tr").remove();
        }
    </script>
</head>
<body>
    <table border="1" class="table table-hover table-bordered" id="mytable">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>住址</th>
            <th>QQ</th>
        </tr>
        <!--<tr>
            <td>元直</td>
            <td>18177399238</td>
            <td>1721375481@qq.com</td>
            <td>北京邮电大学</td>
            <td>1721375491</td>
            <td><input type="submit" value="编辑" class="btn btn-primary" id="reset"></td>
            <td><input type="submit" value="删除" class="btn btn-info" ></td>
        </tr> -->
        <tr th:each="contact : ${user}">
            <td th:text="${contact.curid}"></td>
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.address}"></td>
            <td th:text="${contact.qq}"></td>
            <!--
            <form th:href="@{'/list/update/'+${contact.id}}" method="get">
                <td><input type="submit" value="编辑" class="btn btn-primary"></td>
            </form>-->

            <form th:action="@{'/list/update/'+${contact.curid}}" method="get">
                <td><input type="submit" value="更新" class="btn btn-info"></td>
            </form>


            <form th:action="@{'/list/delete/'+${contact.curid}}" method="post">
                <td><input type="submit" value="删除" class="btn btn-info"></td>
            </form>
        </tr>
    </table>
    <form th:action="@{/add}" method="get">
        <input type="submit" value="添加" class="btn btn-success"></a>
    </form>
</body>
</html>